@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    -amarelo:#ebba60e7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

body {
    background-image: url('https://i.pinimg.com/originals/67/79/ca/6779ca7dd281f3df0a84b148c46b9437.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;

}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 20px;
    font-weight: 800;
    color: #ebba60e7;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    background-color: #0000008a;
    width: 100%;/* ocupa topda a div */
    border-radius: 0.6rem;

}

.material-symbols-outlined {
    padding: 10px 10px;
    vertical-align: middle;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    
}

section h2 a{
    color: #ebba60e7;
}
section input {
    width: 20rem;
    height: 30px;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 20px;
    border: 2px solid #ebba60e7;
    margin-bottom: 1rem;
}

.input-caixa {
    position: relative;
    display: inline-block;
}

.input-caixa input {
    width: 20rem;
    height: 30px;
    font-size: 1rem;
    padding: 1rem;
    padding-right: 2.5rem; /* Espaço extra para a lupa */
    border-radius: 20px;
    border: 2px solid #ebba60e7;
}

.input-caixa i {
    position: absolute;
    right: 10px;
    top: 35%;
    transform: translateY(-50%);
    color: #dd9a1fe7;
    cursor: pointer;
}


button {
    margin-top: 20px;
    font-size: 1rem;
    font-weight: 200px;
    padding: 0.5rem 1.2rem;
    border-radius: 15px;
    border: 2px solid black;
    background-color: #ebba60e7;
    cursor: pointer;
    
}

button:hover{
    transform: scale(1.08);
    transition: 0.2s;
    background-color: #fa9017
    
}
.resultados-pesquisa{
   
    width: 60rem;
    height: 68vh;
    overflow-y: auto;/* Adiciona rolagem vertical se necessário */
    
    padding: 1rem;
    border-radius: 0.6rem;
}
.item-resultado {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.6rem;
    padding: 1rem; 
    margin-bottom: 1rem; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    background-color: #0000008a;
    width: 100%;/* ocupa toda a div */
    text-align: center;
   
}
.item-resultado h2{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.item-resultado img{
    width: 50px;
    height: 50px;
    
  
}



.item-resultado h2 a{
    font-size: 1.7rem; 
    -webkit-text-stroke-width: 1.7px;
    -webkit-text-stroke-color: black;
    
}

/* Estiliza os links dentro dos itens de resultado */
 .item-resultado a {
    text-decoration: none; 
    color: #ebba60e7; 
    
    
} 
.item-resultado a:hover {
    text-decoration: underline;
}

.descricao-meta {
    color: #ebba60e7; /* Cor do texto */
    margin: 0.5rem 0; /* Margem acima e abaixo */
  
}
   


footer p{
    font-weight: 800;
    color: #ebba60e7;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: black;

}

footer{
    background-color: #aa926521;
    text-align: center;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 100px;
    margin-bottom: 30px;
    padding: 20px;
}